/* FOOTER STYLES */
.footer .built-with{
  padding-left: 3px;
  padding-right: 3px;
}

/* AJAX SELECTS STYLES */
.ajax-selects .inputs .select select, .ajax-selects .outputs .name{
  text-transform: capitalize;
}
.ajax-selects .outputs .data-label{
  font-size: 100%;
  font-weight: bold;
}
